.StompBox {
  width: 8em;
  height: 11em;
  border-radius: 0.3em;
  margin: 1em;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  user-select: none;
}

.effects {
  display: flex;
}

.StompBox .switch {
  background: rgb(74, 74, 74);
  padding: 1em;
  border-radius: 0.2em;
  color: white;
}

.StompBox.Distortion {
  background: rgb(255, 131, 0);
}

.StompBox.Cabinet {
  background: rgb(128, 128, 128);
}

.StompBox>.title {
  padding-bottom: 1em;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
}

.StompBox>.content {
  display: flex;
  overflow: hidden;
  height: 3.5em;
  align-items: center;
  justify-content: center;
}

.Knob .mark>div {
  width: 0.2em;
  height: 1em;
  margin: 0 auto;
}

.Knob .mark {
  transform-origin: center;
}

.Knob .mark {
  width: 2em;
  height: 2em;
  overflow: hidden;
  text-align: center;
  background: rgb(53, 53, 53);
  border-radius: 10em;
  box-sizing: border-box;
}

.Knob .mark>.top {
  background: white;
}


.Knob .title {
  font-size: 90%;
  text-transform: uppercase;
}

.Knob {
  position: relative;
  user-select: none;
}

.Knob .value {
  position: absolute;
  top: 0em;
  left: -2em;
  background: white;
  font-size: 50%;
  padding: 0 0.3em;
  opacity: 0.4;
}
